[Unit]
Description=Zhizuko dotnet service

[Service]
WorkingDirectory=/code/GradimoZajedno.Web/
ExecStart=/usr/bin/dotnet /code/GradimoZajedno.Web/bin/Prod/net6.0/GradimoZajedno.Web.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=${app}
User=${app}
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=DOTNET_CLI_HOME=/dotnet

[Install]
WantedBy=multi-user.target